{
    "presets": [
        "next/babel",
    ],
    "plugins": [
        "transform-class-properties",
        ["module-resolver", {
            "root": ["."],
            "alias": {
              "styles": "./styles"
            },
            "cwd": "babelrc"
        }],
        [
            "wrap-in-js",
            {
                "extensions": ["css$"]
            }
        ]
    ],
}